{% extends 'network/index.html' %}



{% block inbox %}

<div class="container">
	<div class="row">
		<div class="col-md-12 p-5">
			<h3>Your Conversations</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 p-5">
			<form method="GET" action="{% url 'create-thread' %}">
                <h4 style="color: red;">Want to start a conversation?</h4>
				<button class="btn btn-light p-3" type="submit" style="color:black">Start a Conversation</button>
			</form>
		</div>
	</div>

	{% for thread in threads.all %}
	<div class="row mb-3">
		<div class=" ">
            <a  href="{% url 'threadf' thread.receiver.id %}">
            <span><img src="{{thread.receiver.profile_pic.url}}" class="small-profilepic" alt="">{{ thread.receiver }}</span>
        </a>
			<!-- <h5>{{ thread.user }} --- {{ thread.receiver }}</h5> -->
           
			
           
		</div>
        <a href=" {% url 'deletethread' thread.user.id %} ">
            <button class="dropdown-item" onclick="delete_post(this)" style="color: #e0245e;" >
                <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-trash" fill="#e0245e" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                
            </button></a>
	</div>
	{% endfor %}
</div>

{% endblock %}